{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="justify-content-center text-center">
        <h1 class="m-5">Aviron</h1>
        <img class="box-shadow" src="https://media.giphy.com/media/jTCA7mJocIW4DUZHwC/giphy.gif" alt="Bateaux aviron">
        <div>
            <a class="btn btn-secondary mt-5" href="#">symfony make:projet3</a>
        </div>
    </div>

{% endblock %}
