{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}

{% block body %}
    <div class="justify-content-center text-center">
        <h1 class="m-5 text-center">Accueil</h1>
    </div>
    <section class="container">
        <div class="row justify-content-center align-items-center p-4 box-shadow card-shadow">
            <div class="col-8 col-md-4 text-center py-2">
                <h4>Total inscrits</h4>
                {% for subscriberCount in actualSubscribers %}
                <p class="subscribers-count">{{ subscriberCount }}</p>
                {% endfor %}
            </div>
            <div class="col-8 col-md-4 py-4 text-center py-2 divider-border">
                <h4>Total nouveaux inscrits</h4>
            </div>
            <div class="col-8 col-md-4 text-center py-2">
                <h4>Total jeunes</h4>
                {% for youngSubscribersCount in youngSubscribers %}
                    <p class="subscribers-count">{{ youngSubscribersCount }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-between align-items-center mt-5">
            <div class="row col-12 col-xl-6 my-4 text-center card-shadow py-4 box-shadow">
                <div class="col-12 mr-xl-2 mr-0">
                    <h4 class="mb-4">Répartition par catégories (%)</h4>
                </div>
            </div>
            <div class="row col-12 col-xl-6 my-4 text-center card-shadow py-4 box-shadow">
                <div class="col-12 ml-xl-2 ml-0">
                    <h4 class="mb-4">Répartition par licences (%)</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center mt-5">
            <div class="col-12 text-center card-shadow py-4 box-shadow">
                <h4 class="mb-4">Évolution des inscriptions</h4>
            </div>
        </div>
    </section>

{% endblock %}
