{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Mon profil</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Mes informations de connexion
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Mon adresse email : {{ app.user.email }}</h5>
                        <p class="card-text">Mon type d'accès :
                            {% for label, role in roles %}
                                {% if app.user.roles.0 == label %}
                                    {{ role }}
                                {% endif %}
                            {% endfor %}</p>
                        <a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}