<nav>
    <ul class="list-unstyled ">
        <li>
            <a href="#">Accueil</a>
        </li>
        <li>
            <a href="#statistics" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="statistiques">Statistiques</a>
            <ul class="collapse list-unstyled" id="statistics">
                <li>
                    <a href="#">Général</a>
                </li>
                <li>
                    <a href="#">Sortants</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#recap" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
               role="button" aria-controls="Récapitulatifs">Récapitulatifs</a>
            <ul class="collapse list-unstyled" id="recap">
                <li>
                    <a href="#">Inscriptions</a>
                </li>
                <li>
                    <a href="#">Renouvellements</a>
                </li>
                <li>
                    <a href="#">Types de licences</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Pyramide</a>
        </li>
        <li>
            <a href="#tools" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button">Outils</a>
            <ul class="collapse list-unstyled" id="tools">
                <li>
                    <a href="#">Import</a>
                </li>
                <li>
                    <a href="#">Gestion des filtres</a>
                </li>
            </ul>
        </li>
    </ul>

</nav>