{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
    <h1 class="text-center my-4">
        Pyramide des renouvellements
    </h1>

    <div class="row pt-4">
        <div class="col-12">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
{#                    {% for season in seasons %}
                        <th scope="col" class="text-center">{{ season.name }}</th>
                    {% endfor %}#}
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
