@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@import 'variables';
@import "~bootstrap/scss/bootstrap";
@import 'navbar';

body {
    color : $primary;
}

h1,
h2,
h3,
h4 {
    font-family: $font-family-title;
}

#content {
    margin-left: $navbar-width;
    transition: 0.5s;
}

#userBar {
    transition: 0.5s;
}

.userbar {
    padding: 0;
    border-bottom: 1px solid darken($light, 5%);
    background-color: $light;
}

.box-shadow {
    box-shadow: 5px 5px 15px -10px $dark-shadow;
}

@for $i from 9 through 12 {
    .J#{$i} {
        background-color: #37cf9bff;
    }
}

@for $i from 13 through 14 {
    .J#{$i} {
        background-color: #f2c950ff;
    }
}

@for $i from 15 through 16 {
    .J#{$i} {
        background-color: #e69138ff;
    }
}

@for $i from 17 through 18 {
    .J#{$i} {
        background-color: #d56741ff;
    }
}
