@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import 'navbar.scss';

body {
    background-color: $light;
}

h1, h2, h3, h4 {
    font-family: $font-family-title;
}

#content {
    margin-left: $navbar-width;
    transition: 0.5s;
}

.box-shadow {
    box-shadow: 10px 10px 10px -8px $dark-shadow;
}
