@import 'variables';

$font-size-error: 1.5rem;
$font-size-button: 1.25rem;

.error-page {
    height: 100vh;
    background: no-repeat linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/aviron.jpg");
    background-size: cover;
    font-size: $font-size-error;
}

.error-page a {
    font-size: $font-size-button;
}
