@import 'variables';

$spacing-form: $spacing * 3;
$title-filter: 1.25rem;

.filter, .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group label, .form-control {
    margin-bottom: 0;
    margin-right: $spacing-form;
}

.form-control, .btn {
    border-radius: $spacing;
}

.title-filter {
    font-size: $title-filter;
}