@import 'variables';

$spacing-form: $spacing * 2;
$title-filter: 1.25rem;
$margin-to: 10px;
$padding-button: 1rem;

.form-group, #filter_status, #filter_licences {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-group {
    background-color: $fourth;
    border-radius: $border-radius;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.form-group label, .form-control {
    margin-bottom: 0;
    margin-right: $spacing-form;
}

.form-control, .btn {
    border-radius: $spacing;
}

.title-filter {
    font-size: $title-filter;
}

#filter_toAdherent, #filter_toSeason, #filter_toCategory {
    margin-left: $margin-to;
}

.filter-gender {
    margin-right: 1.75rem;
}

#filter_gender {
    height: $spacing * 11 + 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.duration > .form-group {
    flex-direction: row-reverse;
    justify-content: start;
}

.duration input {
    width: 55%;
}

.duration label {
    margin-right: 0;
}

button.btn-primary {
    margin-left: $spacing * 9;
}

.btn {
    padding: ($padding-button / 2) $padding-button;
}