@import 'variables';

$spacing-form: $spacing * 3;
$title-filter: 1.25rem;

.filter, .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.invalid-feedback {
    display: block;
    font-size: 100%;
}

.is-invalid {
    margin-bottom: 0;
    margin-top: $title-filter - 0.5;
}

.form-group label, .form-control {
    margin-bottom: 0;
    margin-right: $spacing-form;
}

.form-control, .btn {
    border-radius: $spacing;
}

.title-filter {
    font-size: $title-filter;
}