@import 'variables';

body {
    background-color: $fourth;
}

.card-shadow {
    background-color: $light;
    border-radius: $border-radius;
}

.divider-border {
    border-left: $large-border solid $dark;
    border-right: $large-border solid $dark;
}

@media screen and (max-width: 767.98px) {
    .divider-border {
        border-bottom: $large-border solid $primary;
        border-left: 0;
        border-right: 0;
        border-top: $large-border solid $primary;
    }
}
