@import 'variables';

.container {
    max-width: 1500px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card-shadow {
    background-color: $light;
    border-radius: $border-radius;
}

.divider-border {
    border-inline-end: solid;
    border-inline-start: solid;
}

@media screen and (max-width: 768px) {
    .divider-border {
        border-block-end: solid;
        border-block-start: solid;
        border-inline-end: 0;
        border-inline-start: 0;
    }
}

.subscribers-count {
    font-size: $font-size-totals;
    font-weight: bold;
}
