@import 'variables';

.side-left {
    background-image: url("../images/prise_d-eau_hollandais.jpeg");
    height: 100vh;
    background-size: cover;
    filter: brightness(80%);
}

#content {
    margin-left: 0;
}

.side-right {
    height: 100vh;
}

form {
    align-self: center;
}
