.sidebar {
    background: $primary;
    box-shadow: 3px 0 3px $dark-shadow;
    color: $light;
    font-family: $font-family-title;
    height: 100vh;
    overflow: hidden;
    padding-top: $spacing * 8;
    position: fixed;
    text-align: left;
    top: 0;
    transition: .5s;
    width: $navbar-width;
    z-index: 1;


    ul li a {
        border: 0;
        color: $light;
        display: block;
        padding: $spacing $spacing*2;
    }

    ul ul a {
        background: darken($primary, 4%);
        font-size: $font-size-sm;
        padding-left: $spacing*5;
    }

    .close-button {
        color: $secondary;
        opacity: 0.6;
        position: absolute;
        right: $spacing;
        top: $spacing;

        &:hover {
            opacity: 1;
        }
    }
}

.sidebar ul li a:hover,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    background: $secondary;
    color: $light;
    text-decoration: none;
}

.sidebar a[aria-expanded='true'] {
    background: $secondary;
}

.sidebar a[data-toggle='collapse'] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    right: $spacing * 3;
    top: 50%;
    transform: translateY(-50%);
}

.open-button {
    color: $primary;
    left: $spacing;
    opacity: 0.8;
    top: 0;

    &:hover {
        opacity: 1;
    }
}

.heart {
    font-size: $small-font;
    position: fixed;
    bottom: $spacing;
    left: $heart-spacing;
}

.heart a {
    color: $wild-color;
}
