@import 'variables';

.navbar-collapse {
    padding: $spacing 0;
}

.open-button {
    position: fixed;
}

a[aria-expanded="true"] {
    background: darken($light, 3%);
}

.dropdown-menu {
    width: $navbar-width;
}