/* surcharge Bootstrap*/

$primary: #05445e;
$secondary: #189AB4;

$dark: #212121;
$light: #F9FEFF;

$border-radius: 20px;

$font-family-sans-serif: 'Roboto', sans-serif;

/* variables projet */

$third: #75E6DA;
$fourth: #D4F1F4;
$dark-shadow: rgba(0,0,0,0.75);

$font-family-title: 'Montserrat', sans-serif;

