/* surcharge Bootstrap*/

$primary: #05445e;
$secondary: #189ab4;
$text-dark: $primary;

$dark: #212121;
$light: #f9feff;

$table-dark-bg: #05445e;

$wild-color: #f77474;

$border-radius: 20px;

$font-family-sans-serif: 'Roboto', sans-serif;

$enable-responsive-font-sizes: true;

/* variables projet */

$third: #75e6da;
$fourth: #d4f1f4;
$dark-shadow: rgba(0, 0, 0, .3);
$small-border: 1px;
$medium-border: 2px;
$large-border: 3px;

$font-family-title: 'Montserrat', sans-serif;

$navbar-width: 250px;
$userbar-width: 150px;

$spacing: 8px;
$heart-spacing: 18px;

$font-size-totals: 32px;
$small-font: 11px;